---
---
{% include head.html %}
<body>
    <div id="menubar">
        <ul id="navbubbles">
            <li id="logo">
                <div class="navreact">
                    <a href="http://savvycoders.com" title="Savvy Coders FAQ" alt="Savvy Coders Nashville">
                        <div class="savvy-logo-text"><b>savvy</b>coders</div>
                    </a>
                </div>
            </li>
            <li>
            <br>
            </li>
            <li id="about">
                <div class="navreact">
                    <a href="http://savvycoders.com" title="Home" alt="Back to the home page">
                        <div>home</div>
                    </a>
                </div>
            </li>
            <li id="app">
                <div class="navreact">
                    <a href="http://savvycoders.com/#jump5" title="Savvy Student Application" alt="Savvy Application">
                        <div>apply now</div>
                    </a>
                </div>
            </li>
            <li id="faq">
                <div class="navreact">
                    <a href="../faq" title="FAQ" alt="FAQ">
                        <div>FAQ</div>
                    </a>
                </div>
            </li>
        </ul>
    </div>
    {% include splash.html %}
    <span id="jump1"></span>
    <div id="page-wrap">
      <div id="content-wrapper">
        <div id="content">
          <div id="application">
            <div id="who-should-apply">
              <h2 style="line-height:100%;">Only <span style="color:#07c4dd;">$1799</span> for the full one-month course</h2>
              <ul id="icon-bar" style="width: 50%; margin-left: auto; margin-right: auto;">
                <li  id="applybutton">
                    <a class="typeform-share link" href="https://savvyalex.typeform.com/to/MxOKCI" data-mode="1" target="_blank">
                      <span class="ti-announcement"></span>
                      <p style="color: #ffffff;">Apply now</p>
                    </a>
                  </li>
                  <li id="eventbutton">
                    <a href="#jump5">
                    <span class="ti-desktop"></span>
                      <p>See a class</p>
                    </a>
                  </li>
              </ul>
              <hr style="opacity: 0.3;">
              <br>
              <p>Things you'll need before signing up for class:</p>
                <ul>
                  <li>a laptop</li>
                  <li>excitement for technology</li>
                  <li>a passion for learning</li>
                  <li>3 hours/day for 1 month</li>
                  <li>...and that's it!</li>
                </ul>
              <p>Fill out your application today to get started!
                Class sizes are limited to less than 20 students, and spots are filled on a first-come, first-served basis.</p>
            </div>
            <br>
          </div>
          <hr style="opacity: 0.3;">
          <br>
          <p>For a full look at our expectations for students, including our attendance, privacy, refund, and payment policies, please download our boilerplate student contract <a href="SavvyCodersStudentContract.pdf">here</a>.</p>
          <br>
        </div>
        <hr style="opacity: 0.3;">
        <br>
    </div>
    {% include footer.html %}
    {% include scripts.html %}
</body>
