<footer>
    <ul>
      <li>
        <a href="#headjump">Home</a>
      </li>
      <li>
        <a class="typeform-share link" href="https://savvyalex.typeform.com/to/MxOKCI" data-mode="1" target="_blank">Sign Up</a>
      </li>
      <li>
        <a href=" https://www.eventbrite.com/e/crash-course-in-coding-for-the-curious-tickets-19586497742">Attend an Intro Session</a>
      </li>
      <li>
        <a href="http://www.meetup.com/savvycoders/">Join our Meetup</a>
      </li>
      <li>
        <a href="#jump2">How it Works</a>
      </li>
      <li>
        <a href="#jump3">What you'll learn</a>
      </li>
      <li>
        <a href="/pricing">Pricing</a>
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
      <li>
        <a href="/join-the-team">Join the Team</a>
      </li>
      <li>
        <a href="#jump6">Contact us</a>
      </li>
    </ul>
    <div id="address">
      <p>All classes are held at</p>
      <p><a href="http://www.refinerynashville.com/">the Refinery Nashville</a></p>
      <p>438 HOUSTON ST</p>
      <p>SUITE 263</p>
      <p>NASHVILLE, TN 37203</p>
    </div>
    <br>
    <div class="social">
      <br>
      <ul class="icon-bar">
        <li>
          <a href="http://twitter.com/savvycoders">
            <span class="ti-twitter"></span>
            <p>twitter</p>
          </a>
        </li>
        <li>
          <a href="http://facebook.com/savvycoders">
            <span class="ti-facebook"></span>
            <p>facebook</p>
          </a>
        </li>
        <li>
          <a href="http://linkedin.com/in/savvycoders">
            <span class="ti-linkedin"></span>
            <p>linkedin</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright">©2015 Savvy Technologies, LLC.</div>
</footer>