<footer>
    <ul>
      <li>
        <a href="/#headjump">Home</a>
      </li>
      <li>
        <a class="typeform-share link" href="https://savvyalex.typeform.com/to/MxOKCI" data-mode="1" target="_blank">Sign Up</a>
      </li>
      <li>
        <a class="eventbrite" href=" https://www.eventbrite.com/e/crash-course-in-coding-for-the-curious-tickets-19586497742">Attend an Intro Session</a>
      </li>
      <li>
        <a class="meetup" href="http://www.meetup.com/savvycoders/">Join our Meetup</a>
      </li>
      <li>
        <a href="/#jump2">How it Works</a>
      </li>
      <li>
        <a href="/#jump3">What you'll learn</a>
      </li>
      <li>
        <a href="/pricing">Pricing</a>
      </li>
      <li>
        <a href="/faq">FAQ</a>
      </li>
      <li>
        <a href="/#jump6">Contact us</a>
      </li>
    </ul>
    <div id="address">
      <p>All classes are held at</p>
      <p><a class="locationLink" href="http://www.refinerynashville.com/"><span class="location">the Refinery</span> <span class="city">Nashville</span></a></p>
      <p class="address"></p>
    </div>
    <br>
    <div class="social">
      <br>
      <ul class="icon-bar">
        <li>
          <a href="http://twitter.com/savvycoders">
            <span class="ti-twitter"></span>
            <p>twitter</p>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/Savvy-Coders-1616883465226928/">
            <span class="ti-facebook"></span>
            <p>facebook</p>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/10377788?trk=tyah&trkInfo=clickedVertical%3Acompany%2CclickedEntityId%3A10377788%2Cidx%3A2-1-2%2CtarId%3A1453332316324%2Ctas%3Asavvy%20coders">
            <span class="ti-linkedin"></span>
            <p>linkedin</p>
          </a>
        </li>
      </ul>
    </div>
    <div class="copyright">©2015 Savvy Technologies, LLC.</div>
</footer>
