<div id="menubar">
    <ul class="navbubbles">
        <li id="logo">
          <a href="/#headjump" title="Savvy Coders Homepage" alt="Savvy Coders Nashville">
              <div class="savvy-logo-text"><b>savvy</b>coders</div>
          </a>
        </li>
        <li>
            <br>
        </li>
        <li id="about">
          <a href="/#jump1" title="About Us" alt="About Savvy Coders">
              <div>about us</div>
          </a>
        </li>
        <li id="classes">
          <a href="/#jump2" title="Classes" alt="About Savvy Coders' Classes">
              <div>classes</div>
          </a>
        </li>
        <li id="students">
          <a href="/#jump3" title="Students" alt="About our Students">
              <div>students</div>
          </a>
        </li>
        <li id="app">
          <a class="typeform-share link" href="https://savvyalex.typeform.com/to/MxOKCI" data-mode="1" target="_blank" title="Apply" alt="Savvy Application">
              <div>apply</div>
          </a>
        </li>
        <li id="pricing">
          <a href="/pricing" title="Savvy Coders Prices" alt="Pricing">
              <div>pricing</div>
          </a>
        </li>
        <li id="contact">
          <a href="/#jump6" title="Contact Savvy Coders" alt="Contact Us">
              <div>contact</div>
          </a>
        </li>
        <li id="faq">
          <a href="/faq" title="FAQ" alt="FAQ">
              <div>FAQ</div>
          </a>
        </li>
    </ul>
    <div class="overflow hidden">
      <div>
        <span class="more-less">MORE</span>
        <span class="ti ti-angle-right"></span>
      </div>
      <ul class="dropdown desktop-only">
        <li>test item</li>
        <li>second test item</li>
      </ul>
      <ul class="dropdown mobile-only">
        <li>mobile test item</li>
        <li>mobile second test item</li>
        <li>how about a third?</li>
      </ul> 
    </div>
</div>
