<div id="backdrop">
  <span id="headjump"></span>
  <picture>
    <source srcset="https://res.cloudinary.com/savvy-coders/image/upload/q_auto:eco/v1470769897/headerShort090115_blank.png" media='(min-width:1500px)'>
    <img src="https://res.cloudinary.com/savvy-coders/image/upload/q_auto:low/v1470769897/headerShort090115_blank.png"
    width="100%" height=auto alt="Welcome to Savvy Coders">
  </picture>
  <div id="logo_image">
    <picture>
      <source srcset="https://res.cloudinary.com/savvy-coders/image/upload/q_auto:best/v1470769887/savvylogo.png" media='(min-width:640px)'>
      <img src="https://res.cloudinary.com/savvy-coders/image/upload/q_auto:best/v1470769887/savvylogo.png" alt="Savvy Coders Logo"
      width="100%" height="auto">
    </picture>
  </div>
</div>
