<div id="backdrop">
  <span id="headjump"></span>
  <picture>
    <source srcset="theme/images/high_res/headerShort090115_blank.png" media='(min-width:1500px)'>
    <img src="theme/images/headerShort090115_blank.png"
    width="100%" height=auto alt="Welcome to Savvy Coders">
  </picture>
  <div id="logo_image">
    <picture>
      <source srcset="theme/images/high_res/savvylogo.png" media='(min-width:640px)'>
      <img src="theme/images/savvylogo.png" alt="Savvy Coders Logo"
      width="100%" height="auto">
    </picture>
  </div>
</div>