<div id="menubar">
    <ul class="navbubbles">
        <li id="logo" class="desktop-only">
          <a href="#headjump" title="Savvy Coders Homepage" alt="Savvy Coders Nashville">
              <div class="savvy-logo-text"><b>savvy</b>coders</div>
          </a>
        </li>

        <li id="spacer" class="desktop-only">
            <br>
        </li>

        <li id="about">
          <a href="#" title="About Us" alt="About Savvy Coders">
              <div>about us</div>
          </a>
        </li>

        <li id="contact">
          <a href="#jump6" title="Contact Savvy Coders" alt="Contact Us">
              <div>contact</div>
          </a>
        </li>

        <li id="app">
          <a class="typeform-share link" href="https://savvyalex.typeform.com/to/MxOKCI" data-mode="1" target="_blank" title="Apply" alt="Savvy Application">
              <div>apply</div>
          </a>
        </li>

    </ul>
</div>

<div id="menudrop" class="dropdown hidden">
  <ul class="navbubbles">
    <li id="mission" class="desktop-only">
      <a href="/#jump1" title="Mission" alt="About Savvy Coders' Mission">
          <div>mission</div>
      </a>
    </li>
    <li id="classes">
      <a href="/#jump2" title="Classes" alt="About Savvy Coders' Classes">
          <div>classes</div>
      </a>
    </li>
    <li id="students" class="desktop-only">
      <a href="/#jump3" title="Students" alt="About our Students">
          <div>students</div>
      </a>
    </li>
    <li id="pricing">
      <a href="/pricing" title="Savvy Coders Prices" alt="Pricing">
          <div>pricing</div>
      </a>
    </li>
    <li id="faq">
      <a href="/faq" title="FAQ" alt="FAQ">
          <div>FAQ</div>
      </a>
    </li>
    <li id="team">
      <a href="/jobs" title="Jobs with Savvy Coders" alt="Join the Savvy Coders team">
          <div>jobs</div>
      </a>
    </li>
  </ul>
</div>
