html{
    -webkit-font-smoothing: antialised;
    background-color: #2B2B2B;
    margin:0;
}

body{
    margin:0;
    position: absolute;
    width:100%;
    overflow: auto;
}

h1{
    font-family:'Kreon', serif;
    font-size: 7vw;
    font-weight: 700;
    color: #07c4dd;
    text-align: center;;
}

h2{
    font-family: 'Kreon', serif;
    font-size:5vw;
    font-weight: 700;
    line-height: 50%;
    color:#fff ;
    text-align: center;

}
h3{
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 2.75vw;
}
h4{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 2vw;
}

p {
    font-family: 'Kreon', serif;
    font-size: 2vw;
    color: #fff;
    text-indent: 5vmin;
}

a {
    text-decoration: none;
    color:#07c4dd;
}

#content-wrapper{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
}

#content{
    padding-left:1.5vw;
    padding-right:1.5vw;
}

#content p{
    font-size:3.35vw;
    font-family:'Quicksand', 'Helvetica', sans-serif;
    font-weight:100;
}

#content a{
    border-bottom:0.2vw dotted;
}

.menu-icon{
    display: block;
    position: fixed;
    margin-left: 3vw;
    margin-top: 3vh;
    z-index: 0;
  }
.savvy-logo-text{
  font-family: 'Kreon', serif;
  font-size: 30px;
}
#menubar {
    position: fixed;
    z-index: 1;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color:#8e8e8e;
    padding-right: 25px;
}
#navbubbles{
    list-style-type:none;
}

#navbubbles li{
    font-family: 'Quicksand', "Sans-Serif";
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 2px solid #848484;
    width: 150px;
}

#navbubbles li:first-child{
  border: none;
}

#navbubbles li:nth-child(2){
  border:none;
}

.navreact a{
   color:#fff;
}

#mission p{
  font-weight: 100;
  font-size: 4vw;
}

#mission-mobile{
  display: block;
}
#mission-desktop{
  display: none;
}

#cta p{
  font-size: 3vw;
  text-indent: 0;
}

#cta a {
  border-bottom: none;
}

#icon-bar{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
}
#icon-bar p{
  text-indent: 0px;
}
#icon-bar li{
    display: table-cell;
    text-align: center;
    padding-top: 8px;
}

#icon-bar li:first-child a{
  color: #ffffff;
}

#icon-bar li:nth-child(2) a{
  color: #ffffff;
}

#icon-bar li:nth-child(3) p{
  color: #07c4dd;
}
#learnbutton span a {
  opacity: 0.7;
}
#infobubbles{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
    padding-left: 0px;
}

#infobubbles li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#infobubbles img{
  height:15vmin;
  width:15vmin;
}

.curricula-slider{
  max-width: 900px;
  width: 80%;
  height: 50vw;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

.curricula-slider h2{
  line-height: 110%;
  color: #07c4dd;
  -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

.curricula-slider h3{
  -webkit-column-span: all; /* Chrome, Safari, Opera */
    column-span: all;
}

.curricula-slider ul{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-size: 3vw;
    padding-left: 0px;
    color: #07c4dd;
}

.curricula-slider li {
  padding-top: 0px;
  padding-bottom: 5px;
}

.slide{
  display: none;
}
.active-slide{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#week1-slide{
  opacity: 0;
}
#week2{
  opacity: 0.6;
}
#week3{
  opacity: 0.6;
}
#week4{
  opacity: 0.6;
}

#application ul{
      font-family: 'Quicksand', 'Helvetica', sans-serif;
      font-size: 3.35vw;
      padding-left: 0px;
      color: #fff;
}

#logo2{
  font-family: 'Kreon', serif;
  font-size: 7vmin;
  color: #07c4dd;
  vertical-align: middle;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#logo2 img{
  width: 30%;
  vertical-align: middle;
}

/*Footer Styles below*/

footer{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  -ms-column-count: 3;
  column-count: 3;
}

#address{
  -webkit-column-break-before: always; /* Chrome, Safari, Opera */
  -moz-column-break-before: always; /* Firefox */
  -ms-column-break-before: always;
  break-before: always;
  opacity: 0.8;
}

footer p{
  font-family: 'Quicksand', sans-serif;
  font-size: 2vmin;
  line-height: 100%;
  margin: 3px;
}

footer ul{
  list-style-type: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 3.15vmin;
  margin-top: 0px;
}

footer li{
  padding-bottom: 5px;
}

footer ul a{
  color: #8d8d8d;
}

.social{
  width: 90%;
  min-width:200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  -moz-column-span: all; /* Firefox */
  -ms-column-span: all;
  column-span: all;
  opacity: 0.6;
}
.social #icon-bar li:last-child p{
  opacity: 1;
  color: #ffffff;
}
.copyright {
    margin-top:5%;
    margin-bottom:10%;
    text-align: center;
    font-family: helvetica, "Sans-Serif";
    font-size: 14px;
    opacity: 0.6;
    color: #fff;
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    -moz-column-span: all; /* Firefox */
    column-span: all;
}

.nav-arrows{
  display: none;
}
/*FAQ-specific styling*/
#faq-list{
  list-style: none;
}

#faq-list h3{
  font-size: 3vmax;
  color: #fff;
}

.response{
  display: none;
}

.active-response{
  display: block;
}
