html{
    -webkit-font-smoothing: antialised;
    background-color: #2B2B2B;
    margin:0;
}

body{
    margin:0;
    position: absolute;
    width:100%;
}

h1{
    font-family:'Kreon', serif;
    font-size: 7vw;
    font-weight: 700;
    color: #07c4dd;
    text-align: center;;
}

h2{
    font-family: 'Kreon', serif;
    font-size:5vw;
    font-weight: 700;
    line-height: 50%;
    color:#fff ;
    text-align: center;

}
h3{
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 2.75vh;
}
h4{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 2vh;
}

p {
    font-family: 'Kreon', serif;
    font-size: 2vw;
    color: #fff;
    text-indent: 5vmin;
}

a {
    text-decoration: none;
    color:#07c4dd;
}

a:hover {
    color:#07c4dd;
}
#content-wrapper{
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
}

#content{
    padding-left:1.5vw;
    padding-right:1.5vw;
}

#content p{
    font-size:2vw;
    font-family:'Quicksand', 'Helvetica', sans-serif;
    font-weight:400;
}

#content a{
    border-bottom:0.2vw dotted;
}

.menu-icon{
    display: block;
    position: fixed;
    margin-left: 3vw;
    margin-top: 3vh;
    z-index: 0;
  }
.savvy-logo-text{
  font-family: 'Kreon', serif;
  font-size: 30px;
}
#menubar {
    position: fixed;
    z-index: 1;
    left: -250px;
    width: 200px;
    height: 100%;
    background-color:#8e8e8e;
    padding-right: 25px;
}
#navbubbles{
    list-style-type:none;
}

#navbubbles li{
    font-family: 'Quicksand', "Sans-Serif";
    font-size: 20px;
    padding: 5px;
    margin-top: 10px;
    border-bottom: 2px solid #848484;
    width: 150px;
}

#navbubbles li:first-child{
  border: none;
}

#navbubbles li:nth-child(2){
  border:none;
}

.navreact a{
   color:#fff;
}

#cta {
}

#mission p{
  font-weight: 100;
  font-size: 5vw;
}

#mission-mobile{
  display: block;
}
#mission-desktop{
  display: none;
}

#icon-bar{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
}

#icon-bar li{
    display: table-cell;
    text-align: center;
}

#icon-bar li:first-child{
  background-color: #07c4dd;
}

#icon-bar li:first-child a{
  color: #ffffff;
}

#icon-bar li:nth-child(2){
  background-color: #8e8e8e;
}

#icon-bar li:nth-child(2) a{
  color: #ffffff;
}

#icon-bar li:nth-child(3){
  background-color: #ffffff;
}

#applybutton{
}

.nav-arrows{
  display: none;
}
