.hidden {
  display: none !important; }

#mission-mobile {
  display: none; }

#mission-desktop {
  display: block; }

@media screen and (max-width: 640px) {
  .mobile-only {
    display: block; }

  .desktop-only {
    display: none; } }
@media screen and (min-width: 641px) {
  .mobile-only {
    display: none; }

  .desktop-only {
    display: block; } }
body {
  -webkit-font-smoothing: antialised;
  background-color: #2B2B2B;
  margin: 0; }

h1 {
  font-family: "Kreon", serif;
  font-size: 4vw;
  font-weight: 700;
  color: #07c4dd;
  text-align: center; }

h2 {
  font-family: "Kreon", serif;
  font-size: 3vw;
  font-weight: 700;
  line-height: 50%;
  color: #ffffff;
  text-align: center; }

h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 2.75vh; }

h4 {
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  color: #ffffff;
  font-size: 2vh; }

p {
  font-family: "Kreon", serif;
  font-size: 2vw;
  color: #ffffff; }

a {
  text-decoration: none;
  color: #07c4dd; }

ul {
  margin-bottom: 0px; }

hr {
  width: 80%;
  opacity: 0.8; }

#menubar {
  z-index: 1;
  position: fixed;
  background-color: #07c4dd;
  width: 100%;
  margin-top: 0px;
  height: 3.5em; }
  #menubar ul.navbubbles {
    z-index: 2;
    list-style-type: none;
    max-width: 1080px;
    min-width: 960px;
    height: 3.5em;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-right: 1em; }
    #menubar ul.navbubbles > li {
      font-family: "Quicksand", sans-serif;
      font-weight: 400;
      font-size: 1.5em; }
      @media screen and (max-width: 640px) {
        #menubar ul.navbubbles > li {
          font-size: 1.275em; } }
      #menubar ul.navbubbles > li a {
        color: #ffffff;
        transition: 0.3s color; }
        #menubar ul.navbubbles > li a:hover {
          color: #2B2B2B;
          transition: 0.3s color; }
      #menubar ul.navbubbles > li .savvy-logo-text {
        font-family: "Kreon", serif;
        font-size: 1.25em; }
        @media screen and (max-width: 640px) {
          #menubar ul.navbubbles > li .savvy-logo-text {
            font-size: 1.0625em; } }
  #menubar div.overflow {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.3em 0.75em 0;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    color: #ffffff;
    height: 2.1em;
    background-color: #07c4dd;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer; }
    #menubar div.overflow > div {
      position: relative; }
      #menubar div.overflow > div span::before {
        transition: transform 0.3s;
        display: inline-block; }
      #menubar div.overflow > div.turnt span::before {
        transition: transform 0.3s;
        transform: rotate(90deg); }
    #menubar div.overflow .dropdown {
      z-index: 1;
      list-style-type: none;
      opacity: 0;
      position: absolute;
      top: -500px;
      right: 0;
      background-color: #8e8e8e; }
      #menubar div.overflow .dropdown li {
        text-align: left;
        font-size: 0.75em; }
      #menubar div.overflow .dropdown.mobile-only {
        top: 32px;
        right: -100px;
        width: 100px;
        height: 100vh; }

.icon-bar {
  list-style-type: none;
  display: table;
  table-layout: fixed;
  width: 100%;
  padding-left: 0px;
  margin-top: 0px;
  font-size: 10vmin; }
  .icon-bar li {
    display: table-cell;
    text-align: center;
    padding-top: 8px; }
    .icon-bar li:nth-child(1) a {
      color: #ffffff;
      transition: 0.5s color; }
      .icon-bar li:nth-child(1) a:hover {
        color: #07c4dd; }
    .icon-bar li:nth-child(2) a {
      color: #ffffff;
      transition: 0.5s color; }
      .icon-bar li:nth-child(2) a:hover {
        color: #07c4dd; }
    .icon-bar li:nth-child(3) a {
      color: #ffffff;
      transition: 0.5s color; }
      .icon-bar li:nth-child(3) a:hover {
        color: #07c4dd; }
    .icon-bar li:nth-child(4) a {
      opacity: 0.6;
      transition: 0.3s opacity; }
      .icon-bar li:nth-child(4) a:hover {
        opacity: 1; }

.navreact a {
  color: #ffffff;
  transition: 0.5s color; }
  .navreact a:hover {
    color: #2B2B2B; }

#content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; }

#content {
  padding-left: 1.5vw;
  padding-right: 1.5vw; }
  #content p {
    font-size: 2vw;
    font-family: "Quicksand", sans-serif;
    font-weight: 400; }
  #content a {
    border-bottom: 0.2vw dotted; }
    #content a:hover {
      border-bottom: 0.2vw solid; }
  #content ul.icon-bar a {
    text-decoration: none;
    border-bottom: none; }
    #content ul.icon-bar a:hover {
      border-bottom: none; }

#backdrop {
  position: relative; }

#logo_image {
  width: 40%;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto; }

#cta {
  width: 80%;
  min-width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

#mission p {
  font-weight: 100;
  font-size: 4vmin; }

#howworks {
  opacity: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #howworks ul {
    font-family: "Quicksand", sans-serif;
    font-size: 5vmin;
    padding-left: 0px;
    color: #ffffff; }

#whatlearn {
  opacity: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #whatlearn ul {
    padding-left: 0px; }

#students-copy {
  opacity: 0; }
  #students-copy ul {
    font-family: "Quicksand", sans-serif;
    font-size: 3vmin;
    padding-left: 0px;
    color: #ffffff; }

#application ul {
  font-family: "Quicksand", sans-serif;
  font-size: 2vw;
  padding-left: 0px;
  color: #ffffff; }

#logo2 {
  font-family: "Kreon", serif;
  font-size: 7vw;
  color: #07c4dd;
  vertical-align: middle;
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #logo2 img {
    width: 30%;
    vertical-align: middle; }

#contact-form {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  #contact-form a {
    border-bottom: none; }
    #contact-form a:hover {
      border-bottom: none; }

.infobubbles {
  list-style-type: none;
  display: table;
  table-layout: fixed;
  width: 100%; }
  .infobubbles li {
    display: table-cell;
    text-align: center;
    vertical-align: middle; }
  .infobubbles img {
    height: 15vmin;
    width: 15vmin; }

.curricula-slider {
  max-width: 900px;
  width: 80%;
  height: 35vw;
  margin-left: auto;
  margin-right: auto; }
  .curricula-slider ul {
    font-family: "Quicksand", sans-serif;
    font-size: 2vw;
    padding-left: 0px;
    color: #07c4dd; }
  .curricula-slider h2 {
    line-height: 110%;
    color: #07c4dd; }
  .curricula-slider h3 {
    text-align: center;
    font-size: 3vw;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    color: #ffffff; }

.slide {
  display: none; }

.active-slide {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#week1 {
  cursor: pointer; }
  #week1 img {
    max-width: 200px;
    max-height: 200px;
    width: 14vmax;
    height: 14vmax; }

#week1-slide {
  opacity: 0; }

#week2 {
  opacity: 0.6;
  cursor: pointer; }
  #week2 img {
    max-width: 200px;
    max-height: 200px;
    width: 14vmax;
    height: 14vmax; }

#week3 {
  opacity: 0.6;
  cursor: pointer; }
  #week3 img {
    max-width: 200px;
    max-height: 200px;
    width: 14vmax;
    height: 14vmax; }

#week4 {
  opacity: 0.6;
  cursor: pointer; }
  #week4 img {
    max-width: 200px;
    max-height: 200px;
    width: 14vmax;
    height: 14vmax; }

#address {
  -webkit-column-break-before: always;
  /* Chrome, Safari, Opera */
  -moz-column-break-before: always;
  /* Firefox */
  -ms-column-break-before: always;
  break-before: always;
  opacity: 0.8; }

footer {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  -ms-column-count: 3;
  column-count: 3; }
  footer p {
    font-family: "Quicksand", sans-serif;
    font-size: 2.5vmin;
    line-height: 100%;
    margin: 3px; }
  footer ul {
    list-style-type: none;
    font-family: "Quicksand", sans-serif;
    font-size: 2.5vmin;
    margin-top: 0px; }
    footer ul a {
      color: #8d8d8d;
      transition: 0.3s color; }
      footer ul a:hover {
        color: #ffffff; }

.social {
  width: 60%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-span: all;
  /* Chrome, Safari, Opera */
  -moz-column-span: all;
  /* Firefox */
  -ms-column-span: all;
  column-span: all;
  opacity: 0.6; }

.copyright {
  margin-top: 5%;
  margin-bottom: 10%;
  text-align: center;
  font-family: helvetica, "Sans-Serif";
  font-size: 14px;
  opacity: 0.6;
  color: #ffffff;
  -webkit-column-span: all;
  /* Chrome, Safari, Opera */
  -moz-column-span: all;
  /* Firefox */
  column-span: all; }

/*FAQ-specific styling*/
#faq-list {
  list-style: none; }
  #faq-list h3 {
    font-size: 3vmax;
    color: #ffffff; }
    #faq-list h3:hover {
      color: #07c4dd;
      cursor: pointer; }

.response {
  display: none; }

/*iframe video player style*/
.video_frames {
  display: block;
  width: 650px;
  margin-left: auto;
  margin-right: auto; }

iframe {
  position: relative;
  margin-left: auto;
  margin-right: auto; }

/*payment form styling*/
#checkout {
  max-width: 960px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto; }

@media (max-width: 640px) {
  body {
    position: absolute;
    width: 100%;
    overflow: auto; }

  h1 {
    font-size: 7vw; }

  h2 {
    font-size: 5vw; }

  h3 {
    font-size: 2.75vw; }

  h4 {
    font-size: 2vw; }

  #content p {
    font-size: 3.35vw;
    font-weight: 100; }

  #logo_image {
    top: 10px; }

  #mission-mobile {
    display: block; }

  #mission-desktop {
    display: none; }

  #cta p {
    font-size: 3vw;
    text-indent: 0; }
  #cta a {
    border-bottom: none; }

  .social {
    width: 90%; }

  /*iframe video player style*/
  .video_frames {
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto; }

  iframe {
    position: relative;
    margin-left: auto;
    margin-right: auto; } }

/*# sourceMappingURL=style.css.map */
