html{
    -webkit-font-smoothing: antialised;
    background-color: #2B2B2B;
    margin:0;
}

body{
    margin:0;
}

h1{
    font-family:'Kreon', serif;
    font-size: 4vw;
    font-weight: 700;
    color: #07c4dd;
    text-align: center;;
}

h2{
    font-family: 'Kreon', serif;
    font-size:3vw;
    font-weight: 700;
    line-height: 50%;
    color:#fff ;
    text-align: center;

}
h3{
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 2.75vh;
}
h4{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-weight: 300;
    color: #fff;
    font-size: 2vh;
}

p {
    font-family: 'Kreon', serif;
    font-size: 2vw;
    color: #fff;
    /*opacity: 0;*/
}

a {
    text-decoration: none;
    color:#07c4dd;
}

a:hover {
    color:#07c4dd;
}

ul{
    margin-bottom: 0px;
}

hr{
    width:80%;
    opacity: 0.8;
}

.menu-icon{
  display: none;
}

#menubar{
  z-index: 1;
  position: fixed;
  background-color: #07c4dd;
}

#content-wrapper{
    width:90%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
}

#content{
    padding-left:1.5vw;
    padding-right:1.5vw;
}

#content p{
    font-size:2vw;
    font-family:'Quicksand', 'Helvetica', sans-serif;
    font-weight:400;
}

#content a{
    border-bottom:0.2vw dotted;
}

#content a:hover{
    border-bottom:0.2vw solid;
}

#cta {
  width: 100%; 
}

#mission p{
  font-weight: 100;
  font-size: 4vmin;
}

#mission-mobile{
  display: none;
}
#mission-desktop{
  display: block;
}

#icon-bar{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
    padding-left: 0px;
    margin-top: 0px;
}

#icon-bar a{
  text-decoration: none;
  border-bottom: none;
}

#icon-bar a:hover{
  border-bottom: none;
}

#icon-bar li{
    display: table-cell;
    text-align: center;
    padding-top: 8px;
}

#icon-bar li:first-child a{
  color: #ffffff;
  -o-transition:.5s color;
  -ms-transition:.5s color;
  -moz-transition:.5s color;
  -webkit-transition:.5s color;
   transition: .5s color;
}

#icon-bar li:first-child a:hover{
  color: #07c4dd;
}

#icon-bar li:nth-child(2) a{
  color: #ffffff;
  -o-transition:.5s color;
  -ms-transition:.5s color;
  -moz-transition:.5s color;
  -webkit-transition:.5s color;
   transition: .5s color;
}

#icon-bar li:nth-child(2) a:hover{
  color: #07c4dd;
}

#icon-bar li:nth-child(3) a{
  color: #ffffff;
  -o-transition:.5s color;
  -ms-transition:.5s color;
  -moz-transition:.5s color;
  -webkit-transition:.5s color;
   transition: .5s color;
}

#icon-bar li:nth-child(3) a:hover{
  color: #07c4dd;
}

#icon-bar li:nth-child(4) a{
  opacity: 0.6;
  -o-transition:.3s opacity;
  -ms-transition:.3s opacity;
  -moz-transition:.3s opacity;
  -webkit-transition:.3s opacity;
   transition: .3s opacity;
}
#icon-bar li:nth-child(4) a:hover{
  opacity: 1;
}


#howworks{
    opacity:0;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#howworks ul{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-size: 5vmin;
    padding-left: 0px;
    color: #fff;
}

#whatlearn{
    opacity:0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#whatlearn ul{
  padding-left: 0px;
}

#students-copy{
  opacity: 0;
}

#students-copy ul{
  font-family: 'Quicksand', 'Helvetica', sans-serif;
  font-size: 3vmin;
  padding-left: 0px;
  color: #fff;
}

#application ul{
      font-family: 'Quicksand', 'Helvetica', sans-serif;
      font-size: 2vw;
      padding-left: 0px;
      color: #fff;
}

#logo2{
  font-family: 'Kreon', serif;
  font-size: 7vw;
  color: #07c4dd;
  vertical-align: middle;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

#logo2 img{
  width: 30%;
  vertical-align: middle;
}

#contact-form{
  width: 90%;
  margin-left: auto;
  margin-right: auto;

}

#contact-form a{
  border-bottom: none;
}
#contact-form a:hover{
  border-bottom: none;
}

#navbubbles{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
    padding-bottom: 1vw;
    padding-left: 0px;
    margin-top: 0px;
}

#navbubbles li{
    display: table-cell;
    text-align: center;
    font-family: 'Quicksand', "Sans-Serif";
    font-size: 2.5vw;
    font-weight: 400; 
}


#infobubbles{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
}

#infobubbles li{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#infobubbles img{
  height:15vmin;
  width:15vmin;
}
#infobubbles .downbutton img{
  width: 10vmax;
  height:auto;
}
#unemployed img{
  height: 50%;
}

#cta{
  width: 80%;
  min-width: 200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.nav-arrows{
  width: 30%;
  min-width: 200px;
  margin-left: auto;
  margin-right: auto;
}

.nav-arrows li:last-child p{
  /*margin-left: -35%;*/
}
.downbutton{
  /*margin-left: -40%;*/
}
.downbutton.up{
  margin-left: 0%;
  /*margin-right: -10%*/
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.downbutton img{
  width: 100%;
  height: 10px;
}

.downbutton a{
  text-decoration: none;
  opacity: 0.6;
}

.downbutton a:hover{
  opacity: 1;
}
.downbutton a:active{
  opacity: 1;
}

.curricula-slider{
  max-width: 900px;
  width: 80%;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;
}

.curricula-slider h2{
  line-height: 110%;
  color: #07c4dd;
}
.curricula-slider h3{
  text-align: center;
  font-size:3vw;
  font-family:'Quicksand', 'Helvetica', sans-serif;
  font-weight:400;
  color: #ffffff;
}
.curricula-slider ul{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-size: 2vw;
    padding-left: 0px;
    color: #07c4dd;
}

.slide{
  display: none;
}
.active-slide{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#week1{
  cursor: pointer;
}

#week1 img{
  max-width: 200px;
  max-height: 200px;
  width: 14vmax;
  height: 14vmax;
}
#week1-slide{
  opacity: 0;
}
#week2{
  opacity: 0.6;
  cursor: pointer;
}
#week2 img{
  max-width: 200px;
  max-height: 200px;
  width: 14vmax;
  height: 14vmax;
}
#week3{
  opacity: 0.6;
  cursor: pointer;
}
#week3 img{
  max-width: 200px;
  max-height: 200px;
  width: 14vmax;
  height: 14vmax;
}
#week4{
  opacity: 0.6;
  cursor: pointer;
}
#week4 img{
  max-width: 200px;
  max-height: 200px;
  width: 14vmax;
  height: 14vmax;
}
.savvy-logo-text{
  font-family: 'Kreon', serif;
  font-size: 3vw;
}
.navreact a{
   color:#fff;
  -o-transition:.5s color;
  -ms-transition:.5s color;
  -moz-transition:.5s color;
  -webkit-transition:.5s color;
   transition: .5s color;
}

.navreact a:hover{
    color:#2B2B2B;
}

.copyright {
    margin-top:5%;
    margin-bottom:10%;
    text-align: center;
    font-family: helvetica, "Sans-Serif";
    font-size: 14px;
    opacity: 0.6;
    color: #fff;

}

/*FAQ-specific styling*/
#faq-list{
  list-style: none;
}

#faq-list h3{
  font-size: 3vmax;
  color: #fff;
}

#faq-list h3:hover{
  color: #07c4dd;
  cursor: pointer;
}

.response{
  display: none;
}

.active-response{
  display: block;
}
