html{
    -webkit-font-smoothing: antialised;
    background-color: #2B2B2B;
    margin:0;
}

body{
    margin:0;
}

h1{
    font-family:'Kreon', serif;
    font-size: 4vw;
    font-weight: 700;
    color: #07c4dd;
    text-align: center;;
}

h2{
    font-family: 'Kreon', serif;
    font-size:3vw;
    font-weight: 700;
    line-height: 50%;
    color:#fff ;
    text-align: center;
    opacity: 0

}
h4{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-weight: 700;
    color: #fff;
}

p {
    font-family: 'Kreon', serif;
    font-size: 2vw;
    color: #fff;
    /*opacity: 0;*/
}

a {
    text-decoration: none;
    color: rgba(100,100,100,0.7);
}

a:hover {
    color: rgba(100,100,100,1.0);
}

ul{
    margin-bottom: 0px;
}

hr{
    width:80%;
    opacity: 0.8;
}

#content-wrapper{
    width:90%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    border-radius: 15px;
}

#content{
    padding-left:1.5vw;
    padding-right:1.5vw;
}

#content p{
    font-size:2vw;
    font-family:'Quicksand', 'Helvetica', sans-serif;
    font-weight:400;
}

#content a{
    border-bottom:0.2vw dotted;
}

#content a:hover{
    border-bottom:0.2vw solid;
}

#howworks{
    opacity:0;
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

#howworks ul{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-size: 5vmin;
    padding-left: 0px;
    color: #fff;
}

#whatlearn{
    opacity:0;
}

#menubar{
    background-color: #07c4dd;
}

#navbubbles{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
    padding-bottom: 1vw;
    padding-left: 0px;
    margin-top: 0px;
}

#navbubbles li{
    display: table-cell;
    text-align: center;
    font-family: 'Quicksand', "Sans-Serif";
    font-size: 2.5vw;
    font-weight: 400;
}


#infobubbles{
    list-style-type:none;
    display:table;
    table-layout:fixed;
    width: 100%;
}

#infobubbles li{
    display: table-cell;
    text-align: center;
}

#infobubbles img{
  height: 15vw;
  width:15vw;
}
.curricula-slider{
  max-width: 900px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

.curricula-slider h2{
  color: #07c4dd;
}
.curricula-slider h3{
  text-align: center;
  font-size:3vw;
  font-family:'Quicksand', 'Helvetica', sans-serif;
  font-weight:400;
  color: #ffffff;
}

.curricula-slider ul{
    font-family: 'Quicksand', 'Helvetica', sans-serif;
    font-size: 2vw;
    padding-left: 0px;
    color: #fff;
}

.slide{
  display: none;
  position: absolute;
  top:200;
  left:20;
  width: 80%;
}
.active-slide{
  display:block;
}

.navreact a{
   color:#fff;
  -o-transition:.5s color;
  -ms-transition:.5s color;
  -moz-transition:.5s color;
  -webkit-transition:.5s color;
   transition: .5s color;
}

.navreact a:hover{
    color:#2B2B2B;
}

.copyright {
    margin-top:5%;
    margin-bottom:10%;
    text-align: center;
    font-family: helvetica, "Sans-Serif";
    font-size: 14px;
    opacity: 0.6;
    color: #fff;

}
