// COLOR VARS
$bg : #2B2B2B;
$bgl: #8e8e8e;
$accent: #07c4dd;
$hl: #ffffff;

// FONTS
$tfont: 'Kreon', serif;
$bfont: 'Quicksand', sans-serif;

//mobile-desktop display-switch classes
#mission-mobile{
  display: none;
}
#mission-desktop{
  display: block;
}
.mobile-only{
  display: none;
}
.desktop-only{
  display: block;
}
