// COLOR VARS
$bg : #2B2B2B;
$bgl: #8e8e8e;
$bgxl: #a5a4a4;
$accent: #07c4dd;
$accent-grey: #606c76;
$hl: #ffffff;
$bhl: #50daed;

// FONTS
$tfont: 'Kreon', serif;
$bfont: 'Quicksand', sans-serif;

// SIZES
$small: 1.1rem;
$default: 1.6rem;
$large: 2.1rem;
$xl: 2.6rem;
$xxl: 3.1rem;

$icon-xs: 2rem;
$icon-small: 3rem;
$icon-default: 4rem;
$icon-large: 5rem;
$icon-xl: 6rem;
$icon-xxl: 7rem;
$icon-xxxl: 9rem;

// BUTTON STYLES
$br : 0.5em;
$bp : 0.25em 1em;

//baseline toggle classes (sorry for the important banger...)
.hidden{
  display: none!important;
}

//mobile-desktop display-switch classes
@media screen and (max-width: 640px) {
  .mobile-only{
    display: block;
  }
  .desktop-only{
    display: none;
  }
  #mission-mobile{
    display: block;
  }
  #mission-desktop{
    display: none;
  }
}
@media screen and (min-width: 641px) {
  .mobile-only{
    display: none;
  }
  .desktop-only{
    display: block;
  }
  #mission-mobile{
    display: none;
  }
  #mission-desktop{
    display: block;
  }
}
