//navigation bar system
@mixin navigation {
  #menubar{
    box-sizing: border-box;
    z-index: 2;
    position: fixed;
    background-color: $accent;
    width: 100vw;
    margin: 0;
    padding: 0;
    $height: 3.5em;
    height: $height;

    ul.navbubbles{
      list-style-type:none;
      width: 100%;
      max-width: 1080px;
      height: $height;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      @media screen and (max-width: 640px) {
        justify-content: space-around;
      }
      @media screen and (min-width: 641px) {
        justify-content: space-between;
      }
      align-items: center;
      align-content: center;

      padding: 0;

      &>li{
        font-family: $bfont;
        font-weight: 400;
        @media screen and (max-width: 640px){
          $fs: 1.25em;
          font-size: $fs;
          padding: $fs/5;
          a{
            color: $hl;
            transition: 0.3s color;
            &:hover{
              color: $bg;
              transition: 0.3s color;
            }
          }
        }
        @media screen and (min-width: 641px){
          $fs: 1.5em;
          font-size: $fs;
          padding: $fs/5;
          a{
            color: $hl;
            transition: 0.3s color;
            &:hover{
              color: $bg;
              transition: 0.3s color;
            }
          }
          .savvy-logo-text{
            font-family: $tfont;
            $fs: 1.25em;
            font-size: $fs;
          }
        }
      }
    }
  }
  #spacer{
    flex-grow: 2;
  }
  #about {
    margin-right: 0.5em;
  }
  #contact{
    margin-right: 0.5em;
  }
  #app {
    border: 2px solid $hl;
    border-radius: $br;
    background-color: transparent;
    padding: 0.25em 1em !important;

    @media screen and (max-width: 640px){
      margin-right: 0;
    }
    @media screen and (min-width: 641px) {
      margin-right: 1.5em;
    }

    transition: background-color 100ms ease;

    &:hover {
      background-color: $bhl;
      transition: background-color 100ms ease;
    }
    a {
      color: $hl;
      &:hover{
        color: $hl !important;
      }
    }
  }
  #menudrop {
    @extend #menubar;
    background-color: $bgl;
    z-index: 1;

    ul.navbubbles{
      padding: 0;
      justify-content: space-around;
      &>li{
        padding: 0 0.5em;
      }
    }
  }
}

//splash/landing component
@mixin splash {
  #backdrop{
    position: relative;
    padding-top: 3.5em;
  }

  #logo_image{
    width: 40%;
    position:absolute;
    top: 10%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

//call to action
@mixin cta {
  #cta{
    width: 80%;
    min-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #mission {
    p{
      font-weight: 100;
      font-size: 4vmin;
    }
  }

  #location-picker{
    text-align: center;
    box-sizing: border-box;
    margin: 50px 0;

    ul{
      @include flexlist;
      max-width: 750px;
      margin: 0 auto;
      font-family: $bfont;
      font-size: 2em;
      color: $hl;
    }
    li{
      border: 1px solid #656565;
      background-color: $bg;
      border-radius: $br;
      padding: $bp;
      cursor: pointer;
      transition: background-color 100ms ease;

      &.active{
        border-color: $accent;
        background-color: $accent;

        &:hover {
          border-color: $bhl;
          background-color: $bhl;
        }
      }

      // &:nth-child(2){
      //
      //   $diameter: 10em;
      //
      //   position: relative;
      //   cursor: default;
      //   border: 1px solid #656565;
      //   border-radius: 50%;
      //   height: $diameter;
      //   width: $diameter;
      //
      //   @include flexlist(center);
      //
      //   &:hover {
      //     border: 1px solid #656565;
      //     background-color: $bg;
      //   }
      //
      //   &>span{
      //     z-index: -1;
      //     position: absolute;
      //     font-size: 2em;
      //     text-align: right;
      //     color: $accent;
      //     top: $diameter/5;
      //     width: $diameter;
      //   }
      // }
      &:hover{
        border-color: $accent;
        background-color: $accent;
        transition: background-color 100ms ease;
      }

      &.selected{
        background-color: $accent;
        border-color: $accent;
        transition: background-color 100ms ease;
        &:hover{
          background-color: $bhl;
          border-color: $bhl;
          transition: background-color 100ms ease;
        }
      }
    }

  }

}

//how it works
@mixin how {
  #howworks{
      ul{
          font-family: $bfont;
          font-size: 5vmin;
          padding-left: 0px;
          color: $hl;
      }
  }
}
