//navigation bar system
@mixin navigation {
  .menu-icon{
    display: none;
    color: $hl;
    font-size: 40px;
  }

  #menubar{
    z-index: 1;
    position: fixed;
    background-color: $accent;
    width: 100%;
    margin-top: 0px;
    ul.navbubbles{
      z-index: 2;
      list-style-type:none;
      max-width: 1080px;
      min-width: 960px;
      height: 3.5em;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      &>li{
        font-family: $bfont;
        font-size: 1.5em;
        font-weight: 400;
        a{
          color: $hl;
          transition: 0.3s color;
          &:hover{
            color: $bg;
            transition: 0.3s color;
          }
        }
      }
    }
  }
  @media screen and (max-width: 640px) {
    .menu-icon{
        display: block;
        position: fixed;
        margin-left: 3vmin;
        margin-top: 3vmin;
        z-index: 10;
      }
      .savvy-logo-text{
      font-size: 30px;
    }
    #menubar{
        position: fixed;
        z-index: 1;
        left: -250px;
        width: 200px;
        height: 100%;
        background-color:$bgl;
        padding-right: 25px;
    }
    .navbubbles{
        display:block;
        width: auto;
        padding-left: 8vw;
        margin: 0;
        li{
            display: block;
            font-size: 20px;
            padding: 5px;
            margin-top: 10px;
            border-bottom: 2px solid #848484;
            width: 150px;
            &:first-child{
                border:none;
            }
            &:nth-child(2){
                border:none;
            }
        }
    }
  }
}

//splash/landing component
