//navigation bar system
@mixin navigation {
  .menu-icon{
    display: none;
    color: $hl;
    font-size: 40px;
  }

  #menubar{
    z-index: 1;
    position: fixed;
    background-color: $accent;
    width: 100%;
    margin-top: 0px;
    ul.navbubbles{
      z-index: 2;
      list-style-type:none;
      max-width: 1080px;
      min-width: 960px;
      height: 3.5em;
      margin: 0 auto;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      &>li{
        font-family: $bfont;
        font-size: 1.5em;
        font-weight: 400;
        a{
          color: $hl;
          transition: 0.3s color;
          &:hover{
            color: $bg;
            transition: 0.3s color;
          }
        }
      }
    }
  }

//splash/landing component
