
//starter styles for flexbox-based icon/menu lists, for the parent ul
@mixin flexlist($justify: space-around){
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: $justify;
  align-items: center;
  align-content: center;
}

//custom transition mixins
@mixin ctrans($s){
   transition:$s color;
}

@mixin otrans($s){
   transition: $s opacity;
}
