@import 'base-vars';
@import 'mixins';
@import 'components';

//baseline element styles

body{
    -webkit-font-smoothing: antialised;
    background-color: $bg;
    margin:0;
}

h1{
    font-family:$tfont;
    font-size:4vw;
    font-weight: 700;
    color: $accent;
    text-align: center;
}

h2{
    font-family: $tfont;
    font-size:3vw;
    font-weight: 700;
    line-height: 50%;
    color:$hl ;
    text-align: center;

}
h3{
  font-family: $bfont;
  font-weight: 300;
  color: $hl;
  font-size: 2.75vh;
}

h4{
    font-family: $bfont;
    font-weight: 300;
    color: $hl;
    font-size: 2vh;
}

p {
    font-family: $tfont;
    font-size: 2vw;
    color: $hl;
}

a {
    text-decoration: none;
    color:$accent;
}

ul{
    margin-bottom: 0px;
}

hr{
    width:80%;
    opacity: 0.3;
}

// menubar and navigation styles
@include navigation;

// icon bars (across page) styles

.icon-bar{
    @include flexlist;
    margin: 0 auto;
    font-size: 4rem;
    align-items: baseline;
    text-align: center;
    li {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
                a{
                  color: $hl;
                  @include ctrans(0.3s);
                    &:hover{
                      color: $accent;
                    }
                }
            }
        }
        &:nth-child(4){
            a{
              opacity: 0.6;
              @include otrans(0.3s);
                &:hover{
                  opacity: 1;
                }
            }
        }
    }
}
// main content and content wrapper styles

#content-wrapper{
    width:90%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

#content{
    padding-left:1.5vw;
    padding-right:1.5vw;

    p{
        font-size:2vw;
        font-family:$bfont;
        font-weight:400;
    }
    a{
        border-bottom:0.2vw dotted;
        &:hover{
            border-bottom:0.2vw solid;
        }
    }
    ul.icon-bar{
        a{
          text-decoration: none;
          border-bottom: none;
          &:hover{
            border-bottom: none;
          }
        }
    }
}

.content-section{
  opacity:0;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

// specific content section styles (in page order)
//splash page
@include splash;

//call to action
@include cta;

//how the program works
@include how;

//what students will learn
#whatlearn{
    opacity:0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    ul{
      padding-left: 0px;
    }
}

#students-copy{
  opacity: 0;
  ul{
      font-family: $bfont;
      font-size: 3vmin;
      padding-left: 0px;
      color: $hl;
    }
}

#application {
    ul{
      font-family: $bfont;
      font-size: 2vw;
      padding-left: 0px;
      color: $hl;
    }
}

#logo2{
  font-family: $tfont;
  font-size: 7vw;
  color: $accent;
  vertical-align: middle;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  img{
      width: 30%;
      vertical-align: middle;
    }
}

#contact-form{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
    a{
      border-bottom: none;
      &:hover{
          border-bottom: none;
      }
    }
}

// Curriculum Slider styles

.infobubbles{
    @include flexlist;
    width: 100%;
    img{
      height:15vmin;
      width:15vmin;
    }
}

.curricula-slider{
  max-width: 900px;
  width: 80%;
  height: 35vw;
  margin-left: auto;
  margin-right: auto;
  ul{
        font-family: $bfont;
        font-size: 2vw;
        padding-left: 0px;
        color: $accent;
    }
  h2{
      line-height: 110%;
      color: $accent;
    }
    h3{
      text-align: center;
      font-size:3vw;
      font-family:$bfont;
      font-weight:400;
      color: $hl;
    }
}
.slide{
  display: none;
}
.active-slide{
  display:block;
  margin-left: auto;
  margin-right: auto;
}
#week1{
  cursor: pointer;
      img{
      max-width: 200px;
      max-height: 200px;
      width: 14vmax;
      height: 14vmax;
    }
}

#week1-slide{
  opacity: 0;
}
#week2{
  opacity: 0.6;
  cursor: pointer;
  img{
      max-width: 200px;
      max-height: 200px;
      width: 14vmax;
      height: 14vmax;
    }
}
#week3{
  opacity: 0.6;
  cursor: pointer;
  img{
      max-width: 200px;
      max-height: 200px;
      width: 14vmax;
      height: 14vmax;
    }
}
#week4{
  opacity: 0.6;
  cursor: pointer;
  img{
      max-width: 200px;
      max-height: 200px;
      width: 14vmax;
      height: 14vmax;
    }
}

// footer styles
#address{
  -webkit-column-break-before: always; /* Chrome, Safari, Opera */
  -moz-column-break-before: always; /* Firefox */
  -ms-column-break-before: always;
  break-before: always;
  opacity: 0.8;
}

footer{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  -ms-column-count: 3;
  column-count: 3;
  p{
      font-family: $bfont;
      font-size: 2.5vmin;
      line-height: 100%;
      margin: 3px;
    }
    ul{
      list-style-type: none;
      font-family: $bfont;
      font-size: 2.5vmin;
      margin-top: 0px;
      a{
          color: #8d8d8d;
          @include ctrans(0.3s);
           &:hover{
               color: $hl;
           }
        }
    }
}

.social{
  width: 60%;
  min-width:200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-column-span: all; /* Chrome, Safari, Opera */
  -moz-column-span: all; /* Firefox */
  -ms-column-span: all;
  column-span: all;
  opacity: 0.6;
}
.copyright {
    margin-top:5%;
    margin-bottom:10%;
    text-align: center;
    font-family: helvetica, "Sans-Serif";
    font-size: 14px;
    opacity: 0.6;
    color: $hl;
    -webkit-column-span: all; /* Chrome, Safari, Opera */
    -moz-column-span: all; /* Firefox */
    column-span: all;
}

/*FAQ-specific styling*/

#faq-list{
  list-style: none;
  h3{
      font-size: 3vmax;
      color: $hl;
      &:hover{
          color: $accent;
          cursor: pointer;
      }
    }
}

.response{
  display: none;
}

/*iframe video player style*/
.video_frames{
  display: block;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}
iframe{
  position: relative;
  margin-left: auto;
  margin-right:auto;
}

/*payment form styling*/
#checkout{
  max-width: 960px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}

// MOBILE OVERRIDES!!

@media (max-width:640px){
    body{
        position: absolute;
        width:100%;
        overflow: auto;
    }
    h1{
        font-size: 7vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 2.75vw;
    }
    h4{
        font-size: 2vw;
    }
    #content{
        p{
            font-size: 3.35vw;
            font-weight: 100;
        }
    }
    #logo_image{
        top: 3.5em;
    }
    #mission-mobile{
      display: block;
    }
    #mission-desktop{
      display: none;
    }
    #cta{
        p{
            font-size: 3vw;
            text-indent: 0;
        }
        a{
            border-bottom: none;
        }
    }
    .social{
      width: 90%;
    }
    /*iframe video player style*/
    .video_frames{
      display: block;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    iframe{
      position: relative;
      margin-left: auto;
      margin-right:auto;
    }
}
