@import 'highlighting';
@import 'fonts';
@import 'base-vars';
@import 'mixins';
@import 'components';

//baseline element styles

body{
    background: $bg;
    background-image: linear-gradient( darken( $bg, 4% ), $bg, darken( $bg, 4% ) );
    margin:0;
}


h1{
    font-family:$tfont;
    font-weight: 700;
    color: $accent;
    text-align: center;
}

h2{
    font-family: $tfont;
    font-weight: 700;
    color:$hl ;
    text-align: center;

}
h3{
  font-family: $bfont;
  font-weight: 300;
  color: $hl;
}

h4{
  font-family: $bfont;
  font-weight: 300;
  color: $hl;
}

p {
    font-family: $tfont;
    color: $hl;
}

a {
    text-decoration: none;
    color:$accent;
}

ul{
    margin-bottom: 0px;
}

hr{
    width:80%;
    opacity: 0.3;
}
button{
    background-color: $accent-grey;
    border-color: $accent-grey;
    font-family: $bfont;
    font-weight: 400;
    font-size: $large;
    height: auto;

    &:hover{
        background-color: $bgl;
        border-color: $bgl;
    }

    &:focus{
        background-color: $accent;
        border-color: $accent;
    }
}
blockquote{
    border-left: solid 10px $accent;
    opacity: 0.5;
    margin-left: 0;
    padding-left: 1rem;
}

figure{
    box-shadow: 0 0 0.5rem rgba( 0, 0, 0, 0.3 ) inset;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 2.5rem 0;
    overflow-x: auto;
    code{
        color: #888888;
    }
    pre{
        margin: 0;
    }
}

pre{
    background: transparent;
    border: none;
    font-family: inherit;
    margin: 0;

    > code {
        padding: 1rem 0;
    }
}

code{
    background: transparent;
    border-radius: 0;
    font-size: $default;
    color: #d8e09e;
    padding: 0;
    margin: 0;
    white-space: inherit;
}

// helper classes
.center{
    text-align: center;
}

// menubar and navigation styles
@include navigation;

// icon bars (across page) styles, including icon bubbles

.icon-bar{
    @include flexlist;
    margin: 0 auto;
    text-align: center;

    li {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
                a{
                  color: $hl;
                  @include ctrans(0.3s);
                    &:hover{
                      color: $accent;
                    }
                }
            }
        }
        &:nth-child(4){
            a{
              opacity: 0.6;
              @include otrans(0.3s);
                &:hover{
                  opacity: 1;
                }
            }
        }
    }
    p{
        margin: 0;
    }
}

.infobubbles{
    @include flexlist;
    width: 100%;
    img{
      height:15vmin;
      width:15vmin;
    }
}
// main content and content wrapper styles

#content-wrapper{
    width:98%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

#content{
    p, li{
        color: $hl;
        font-weight:400;
        @media (max-width: 640px) {
          font-weight: 100;
        }
        font-family:$bfont;

        span[class^="ti-"] {
          font-size: $icon-large;
        }
    }
    a{
        border-bottom:0.2vw dotted;
        &:hover{
            border-bottom:0.2vw solid;
        }
    }
    ul.icon-bar{
        a{
          text-decoration: none;
          border-bottom: none;
          &:hover{
            border-bottom: none;
          }
        }
    }
    &.blog-post{
      padding-top: 7em;

      .subheading{
          text-align: center;
          margin-top: 0;
      }
      img{
        width: 80vw;
        margin: 2em auto;
        &.floater{
            width: 30%;
            float: left;
            margin: 0 1rem 1rem 0;
        }
      }

      h1{
          margin: 0;
      }

      h2{
        &.post-title{
          text-align: left;
        }
      }
    }
}

.content-section{
  opacity:0;
  width:90%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// specific content section styles (in page order)
//splash page
@include splash;

//call to action
@include cta;

//how the program works
@include how;

//what students will learn
@include learn;

//more about our students
@include students;

//application and faq
@include apply;

//wufoo-based contact form
@include contact;

//disqus comments
@include disqus;

// footer styles
@include footer;

/*FAQ-specific styling*/
@include faq;

// people page-specfic styles
@include people;
