@import 'base-vars';
@import 'mixins';
@import 'components';

//baseline element styles

body{
    -webkit-font-smoothing: antialised;
    background-color: $bg;
    margin:0;
}

h1{
    font-family:$tfont;
    font-size:4vw;
    font-weight: 700;
    color: $accent;
    text-align: center;
}

h2{
    font-family: $tfont;
    font-size:3vw;
    font-weight: 700;
    line-height: 50%;
    color:$hl ;
    text-align: center;

}
h3{
  font-family: $bfont;
  font-weight: 300;
  color: $hl;
  font-size: 2.75vh;
}

h4{
    font-family: $bfont;
    font-weight: 300;
    color: $hl;
    font-size: 2vh;
}

p {
    font-family: $tfont;
    font-size: 2vw;
    color: $hl;
}

a {
    text-decoration: none;
    color:$accent;
}

ul{
    margin-bottom: 0px;
}

hr{
    width:80%;
    opacity: 0.3;
}

// menubar and navigation styles
@include navigation;

// icon bars (across page) styles, including icon bubbles

.icon-bar{
    @include flexlist;
    margin: 0 auto;
    font-size: 4rem;
    align-items: baseline;
    text-align: center;
    li {
        @for $i from 1 through 3 {
            &:nth-child(#{$i}){
                a{
                  color: $hl;
                  @include ctrans(0.3s);
                    &:hover{
                      color: $accent;
                    }
                }
            }
        }
        &:nth-child(4){
            a{
              opacity: 0.6;
              @include otrans(0.3s);
                &:hover{
                  opacity: 1;
                }
            }
        }
    }
}

.infobubbles{
    @include flexlist;
    width: 100%;
    img{
      height:15vmin;
      width:15vmin;
    }
}
// main content and content wrapper styles

#content-wrapper{
    width:90%;
    max-width: 1200px;
    margin-left:auto;
    margin-right:auto;
}

#content{
    padding-left:1.5vw;
    padding-right:1.5vw;

    p{
        font-size:2vw;
        font-family:$bfont;
        font-weight:400;
    }
    a{
        border-bottom:0.2vw dotted;
        &:hover{
            border-bottom:0.2vw solid;
        }
    }
    ul.icon-bar{
        a{
          text-decoration: none;
          border-bottom: none;
          &:hover{
            border-bottom: none;
          }
        }
    }
}

.content-section{
  opacity:0;
  width:90%;
  margin-left: auto;
  margin-right: auto;
}

// specific content section styles (in page order)
//splash page
@include splash;

//call to action
@include cta;

//how the program works
@include how;

//what students will learn
@include learn;

//more about our students
@include students;

//application and faq
@include apply;

//wufoo-based contact form
@include contact;

// footer styles
@include footer;

/*FAQ-specific styling*/
@include faq;


// MOBILE OVERRIDES!!

@media (max-width:640px){
    body{
        width:100%;
        overflow: auto;
    }
    h1{
        font-size: 7vw;
    }
    h2{
        font-size: 5vw;
    }
    h3{
        font-size: 2.75vw;
    }
    h4{
        font-size: 2vw;
    }
    #content{
        p{
            font-size: 3.35vw;
            font-weight: 100;
        }
    }
    #logo_image{
        top: 3.5em;
    }
    #mission-mobile{
      display: block;
    }
    #mission-desktop{
      display: none;
    }
    #cta{
        p{
            font-size: 3vw;
            text-indent: 0;
        }
        a{
            border-bottom: none;
        }
    }
    .social{
      width: 90%;
    }
    /*iframe video player style*/
    .video_frames{
      display: block;
      width: 300px;
      margin-left: auto;
      margin-right: auto;
    }
    iframe{
      position: relative;
      margin-left: auto;
      margin-right:auto;
    }
}
